.cheaper {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
}
.compareHead {
    text-align: center;
}
.currentMarket {
    font-size: 1vw;
    padding-left: 1vw;
    padding-top:1vw;
    padding-bottom: 1vw;
    background-color: #727A82;
    color: white;
}
.dropdown {
    float: left;
    margin-top: 1vw;
    margin-left: 1vw;
}
.lastPrice {
    color: black;
    font-weight: bold;
}
.lastMarket {
    color: black;
    font-weight: bold;
}
.results {
    width: 38vw;
    margin-left: 45vw;
    margin-top: 16vw;
    border: 2px solid green;
}
#drop1 {
    border: 1px solid black;
}
#drop2 {
    border: 1px solid blue;    
}
#first {
    border: 2px solid black;
    width: 25vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
}
#second {
    border: 2px solid blue;
    width: 25vw;
    margin-top: 1vw;
}
.busy{
    position: relative;
}